In [3809]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3810]:
df_train = pd.read_csv("/content/drive/MyDrive/Zohreh/train.csv")
df_test = pd.read_csv("/content/drive/MyDrive/Zohreh/test.csv")

<ipython-input-3810-e257f3d9e677>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv("/content/drive/MyDrive/Zohreh/train.csv")

In [3811]:
df_train.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [3812]:
df_test.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [3813]:
df_train.shape

(100000, 28)

In [3814]:
df_test.shape

(50000, 27)

In [3815]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [3816]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [3817]:
df_train.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [3818]:
df_test.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,42502.000000,50000.000000,50000.000000,50000.000000,50000.000000,48965.000000,50000.000000,50000.000000
mean,4182.004291,16.838260,22.921480,68.772640,21.052640,30.080200,32.279581,1491.304305
std,3174.109304,116.396848,129.314804,451.602363,14.860397,196.984121,5.106238,8595.647887
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.509652,0.000000
25%,1625.188333,3.000000,4.000000,8.000000,10.000000,4.000000,28.061040,32.222388
50%,3086.305000,6.000000,5.000000,13.000000,18.000000,7.000000,32.280390,74.733349
75%,5934.189094,7.000000,7.000000,20.000000,28.000000,10.000000,36.468591,176.157491
max,15204.633333,1798.000000,1499.000000,5799.000000,67.000000,2593.000000,48.540663,82398.000000

In [3819]:
df_train.describe(exclude =np.number).T

,count,unique,top,freq
ID,100000,100000,0x1602,1
Customer_ID,100000,12500,CUS_0xd40,8
Month,100000,8,January,12500
Name,90015,10139,Langep,44
Age,100000,1788,38,2833
SSN,100000,12501,#F%$D@*&8,5572
Occupation,100000,16,_______,7062
Annual_Income,100000,18940,36585.12,16
Num_of_Loan,100000,434,3,14386
Type_of_Loan,88592,6260,Not Specified,1408
Num_of_Delayed_Payment,92998,749,19,5327
Changed_Credit_Limit,100000,4384,_,2091
Credit_Mix,100000,4,Standard,36479
Outstanding_Debt,100000,13178,1360.45,24
Credit_History_Age,90970,404,15 Years and 11 Months,446
Payment_of_Min_Amount,100000,3,Yes,52326
Amount_invested_monthly,95521,91049,__10000__,4305
Payment_Behaviour,100000,7,Low_spent_Small_value_payments,25513
Monthly_Balance,98800,98792,__-333333333333333333333333333__,9
Credit_Score,100000,3,Standard,53174

In [3820]:
df_test.describe(exclude =np.number).T

                         count unique                               top   freq
ID                       50000  50000                            0x160a      1
Customer_ID              50000  12500                         CUS_0xd40      4
Month                    50000      4                         September  12500
Name                     44985  10139                            Stevex     22
Age                      50000    976                                39   1493
SSN                      50000  12501                         #F%$D@*&8   2828
Occupation               50000     16                           _______   3438
Annual_Income            50000  16121                         109945.32      8
Num_of_Loan              50000    263                                 2   7173
Type_of_Loan             44296   6260                     Not Specified    704
Num_of_Delayed_Payment   46502    443                                19   2622
Changed_Credit_Limit     50000   3927                                 _   1059
Credit_Mix               50000      4                          Standard  18379
Outstanding_Debt         50000  12685                           1109.03     12
Credit_History_Age       45530    399             20 Years and 1 Months    254
Payment_of_Min_Amount    50000      3                               Yes  26158
Amount_invested_monthly  47729  45450                         __10000__   2175
Payment_Behaviour        50000      7    Low_spent_Small_value_payments  12694
Monthly_Balance          49438  49433  __-333333333333333333333333333__      6

In [3821]:
df_train.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [3822]:
df_test.isna().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                        5015
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       7498
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [3823]:
df_train.nunique()

ID                          100000
Customer_ID                  12500
Month                            8
Name                         10139
Age                           1788
SSN                          12501
Occupation                      16
Annual_Income                18940
Monthly_Inhand_Salary        13235
Num_Bank_Accounts              943
Num_Credit_Card               1179
Interest_Rate                 1750
Num_of_Loan                    434
Type_of_Loan                  6260
Delay_from_due_date             73
Num_of_Delayed_Payment         749
Changed_Credit_Limit          4384
Num_Credit_Inquiries          1223
Credit_Mix                       4
Outstanding_Debt             13178
Credit_Utilization_Ratio    100000
Credit_History_Age             404
Payment_of_Min_Amount            3
Total_EMI_per_month          14950
Amount_invested_monthly      91049
Payment_Behaviour                7
Monthly_Balance              98792
Credit_Score                     3
dtype: int64

In [3824]:
df_train['Credit_Mix'].value_counts()

Standard    36479
Good        24337
_           20195
Bad         18989
Name: Credit_Mix, dtype: int64

In [3825]:
# Drop irelevent columns

columns_to_drop = ["Name", "SSN", "ID"]

df_train.drop(columns=columns_to_drop, inplace=True)
df_test.drop(columns=columns_to_drop, inplace=True)

In [3826]:
df_train.head().T

,0,1,2,3,4
Customer_ID,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0xd40
Month,January,February,March,April,May
Age,23,23,-500,23,23
Occupation,Scientist,Scientist,Scientist,Scientist,Scientist
Annual_Income,19114.12,19114.12,19114.12,19114.12,19114.12
Monthly_Inhand_Salary,1824.843333,NaN,NaN,NaN,1824.843333
Num_Bank_Accounts,3,3,3,3,3
Num_Credit_Card,4,4,4,4,4
Interest_Rate,3,3,3,3,3
Num_of_Loan,4,4,4,4,4
Type_of_Loan,"Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,..."
Delay_from_due_date,3,-1,3,5,6
Num_of_Delayed_Payment,7,NaN,7,4,NaN
Changed_Credit_Limit,11.27,11.27,_,6.27,11.27
Num_Credit_Inquiries,4.0,4.0,4.0,4.0,4.0
Credit_Mix,_,Good,Good,Good,Good
Outstanding_Debt,809.98,809.98,809.98,809.98,809.98
Credit_Utilization_Ratio,26.82262,31.94496,28.609352,31.377862,24.797347
Credit_History_Age,22 Years and 1 Months,NaN,22 Years and 3 Months,22 Years and 4 Months,22 Years and 5 Months
Payment_of_Min_Amount,No,No,No,No,No
Total_EMI_per_month,49.574949,49.574949,49.574949,49.574949,49.574949
Amount_invested_monthly,80.41529543900253,118.28022162236736,81.699521264648,199.4580743910713,41.420153086217326
Payment_Behaviour,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments,High_spent_Medium_value_payments
Monthly_Balance,312.49408867943663,284.62916249607184,331.2098628537912,223.45130972736786,341.48923103222177
Credit_Score,Good,Good,Good,Good,Good

In [3827]:
df_test.head().T

,0,1,2,3,4
Customer_ID,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0x21b1
Month,September,October,November,December,September
Age,23,24,24,24_,28
Occupation,Scientist,Scientist,Scientist,Scientist,_______
Annual_Income,19114.12,19114.12,19114.12,19114.12,34847.84
Monthly_Inhand_Salary,1824.843333,1824.843333,1824.843333,NaN,3037.986667
Num_Bank_Accounts,3,3,3,3,2
Num_Credit_Card,4,4,4,4,4
Interest_Rate,3,3,3,3,6
Num_of_Loan,4,4,4,4,1
Type_of_Loan,"Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...",Credit-Builder Loan
Delay_from_due_date,3,3,-1,4,3
Num_of_Delayed_Payment,7,9,4,5,1
Changed_Credit_Limit,11.27,13.27,12.27,11.27,5.42
Num_Credit_Inquiries,2022.0,4.0,4.0,4.0,5.0
Credit_Mix,Good,Good,Good,Good,Good
Outstanding_Debt,809.98,809.98,809.98,809.98,605.03
Credit_Utilization_Ratio,35.030402,33.053114,33.811894,32.430559,25.926822
Credit_History_Age,22 Years and 9 Months,22 Years and 10 Months,NaN,23 Years and 0 Months,27 Years and 3 Months
Payment_of_Min_Amount,No,No,No,No,No
Total_EMI_per_month,49.574949,49.574949,49.574949,49.574949,18.816215
Amount_invested_monthly,236.64268203272135,21.465380264657146,148.23393788500925,39.08251089460281,39.684018417945296
Payment_Behaviour,Low_spent_Small_value_payments,High_spent_Medium_value_payments,Low_spent_Medium_value_payments,High_spent_Medium_value_payments,High_spent_Large_value_payments
Monthly_Balance,186.26670208571772,361.44400385378196,264.67544623342997,343.82687322383634,485.2984336755923

In [3828]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  object
 1   Month                     100000 non-null  object
 2   Age                       100000 non-null  object
 3   Occupation                100000 non-null  object
 4   Annual_Income             100000 non-null  object
 5   Monthly_Inhand_Salary     84998 non-null   float64
 6   Num_Bank_Accounts         100000 non-null  int64
 7   Num_Credit_Card           100000 non-null  int64
 8   Interest_Rate             100000 non-null  int64
 9   Num_of_Loan               100000 non-null  object
 10  Type_of_Loan              88592 non-null   object
 11  Delay_from_due_date       100000 non-null  int64
 12  Num_of_Delayed_Payment    92998 non-null   object
 13  Changed_Credit_Limit      100000 non-null  object
 14  Num_Credit_Inquiries      98035 non-null   float64
 15  Credit_Mix                100000 non-null  object
 16  Outstanding_Debt          100000 non-null  object
 17  Credit_Utilization_Ratio  100000 non-null  float64
 18  Credit_History_Age        90970 non-null   object
 19  Payment_of_Min_Amount     100000 non-null  object
 20  Total_EMI_per_month       100000 non-null  float64
 21  Amount_invested_monthly   95521 non-null   object
 22  Payment_Behaviour         100000 non-null  object
 23  Monthly_Balance           98800 non-null   object
 24  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(17)
memory usage: 19.1+ MB

In [3829]:
df_train['Month'].value_counts()

January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: Month, dtype: int64

In [3830]:
# Convert "Month" column to numerical format
df_train['Month'] = pd.to_datetime(df_train['Month'], format='%B', errors='coerce').dt.month
df_test['Month'] = pd.to_datetime(df_test['Month'], format='%B', errors='coerce').dt.month

In [3831]:
df_train.tail()

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
99995,CUS_0x942c,4,25,Mechanic,39628.99,3359.415833,4,6,7,2,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,CUS_0x942c,5,25,Mechanic,39628.99,3359.415833,4,6,7,2,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,CUS_0x942c,6,25,Mechanic,39628.99,3359.415833,4,6,5729,2,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,CUS_0x942c,7,25,Mechanic,39628.99,3359.415833,4,6,7,2,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,CUS_0x942c,8,25,Mechanic,39628.99_,3359.415833,4,6,7,2,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [3832]:
df_train['Customer_ID'].nunique()

12500

In [3833]:
df_train['Age'].head(10)

0      23
1      23
2    -500
3      23
4      23
5      23
6      23
7      23
8     28_
9      28
Name: Age, dtype: object

In [3834]:
# Remove non-numeric characters from "Age" column
df_train['Age'] = df_train['Age'].str.replace(r'[^0-9-]', '', regex=True)
df_test['Age'] = df_test['Age'].str.replace(r'[^0-9-]', '', regex=True)

# Convert "Age" column to numeric
df_train['Age'] = pd.to_numeric(df_train['Age'], errors='coerce').astype('Int64')
df_test['Age'] = pd.to_numeric(df_test['Age'], errors='coerce').astype('Int64')

# Replace negative values in "Age" column with 0
df_train['Age'] = df_train['Age'].apply(lambda x: max(0, x))
df_test['Age'] = df_test['Age'].apply(lambda x: max(0, x))

# Replace ages greater than 80 with NaN
df_train['Age'] = df_train['Age'].apply(lambda x: x if 0 <= x <= 80 else np.nan)
df_test['Age'] = df_test['Age'].apply(lambda x: x if 0 <= x <= 80 else np.nan)

# Replace NaN values with 0 and convert to Int64
df_train['Age'] = df_train['Age'].fillna(0).astype('Int64')
df_test['Age'] = df_test['Age'].fillna(0).astype('Int64')

In [3835]:
df_train['Age'].head(10)

0    23
1    23
2     0
3    23
4    23
5    23
6    23
7    23
8    28
9    28
Name: Age, dtype: Int64

In [3836]:
df_train['Occupation'].nunique()

16

In [3837]:
# Replace NaN values in the "Occupation" "Type_of_Loan" "Credit_Mix" column with ""
df_train['Occupation'].fillna("", inplace=True)
df_test['Occupation'].fillna("", inplace=True)

df_train['Type_of_Loan'].fillna("Not Specified", inplace=True)
df_test['Type_of_Loan'].fillna("Not Specified", inplace=True)

df_train['Credit_Mix'].fillna("", inplace=True)
df_test['Credit_Mix'].fillna("", inplace=True)

In [3838]:
df_train['Num_Bank_Accounts'].value_counts()

6       13001
7       12823
8       12765
4       12186
5       12118
        ...
1626        1
1470        1
887         1
211         1
697         1
Name: Num_Bank_Accounts, Length: 943, dtype: int64

In [3839]:
df_train['Num_Bank_Accounts'].nunique()

943

In [3840]:
df_train['Num_Bank_Accounts'].describe()

count    100000.000000
mean         17.091280
std         117.404834
min          -1.000000
25%           3.000000
50%           6.000000
75%           7.000000
max        1798.000000
Name: Num_Bank_Accounts, dtype: float64

In [3841]:
# Replace values less than 0 in "Num_Bank_Accounts" with 0
df_train['Num_Bank_Accounts'] = df_train['Num_Bank_Accounts'].apply(lambda x: max(0, x))
df_test['Num_Bank_Accounts'] = df_test['Num_Bank_Accounts'].apply(lambda x: max(0, x))

In [3842]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  object
 1   Month                     100000 non-null  int64
 2   Age                       100000 non-null  Int64
 3   Occupation                100000 non-null  object
 4   Annual_Income             100000 non-null  object
 5   Monthly_Inhand_Salary     84998 non-null   float64
 6   Num_Bank_Accounts         100000 non-null  int64
 7   Num_Credit_Card           100000 non-null  int64
 8   Interest_Rate             100000 non-null  int64
 9   Num_of_Loan               100000 non-null  object
 10  Type_of_Loan              100000 non-null  object
 11  Delay_from_due_date       100000 non-null  int64
 12  Num_of_Delayed_Payment    92998 non-null   object
 13  Changed_Credit_Limit      100000 non-null  object
 14  Num_Credit_Inquiries      98035 non-null   float64
 15  Credit_Mix                100000 non-null  object
 16  Outstanding_Debt          100000 non-null  object
 17  Credit_Utilization_Ratio  100000 non-null  float64
 18  Credit_History_Age        90970 non-null   object
 19  Payment_of_Min_Amount     100000 non-null  object
 20  Total_EMI_per_month       100000 non-null  float64
 21  Amount_invested_monthly   95521 non-null   object
 22  Payment_Behaviour         100000 non-null  object
 23  Monthly_Balance           98800 non-null   object
 24  Credit_Score              100000 non-null  object
dtypes: Int64(1), float64(4), int64(5), object(15)
memory usage: 19.2+ MB

In [3843]:
# Drop "Customer_ID" column
df_train.drop(columns=['Customer_ID'], inplace=True)
df_test.drop(columns=['Customer_ID'], inplace=True)

In [3844]:
df_train['Occupation'].nunique()

16

In [3845]:
df_train['Occupation'].value_counts()

_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: Occupation, dtype: int64

In [3846]:
# Replace "_______" with "Not Specified" in the Occupation column
df_train['Occupation'].replace("_______", "Not Specified", inplace=True)
df_test['Occupation'].replace("_______", "Not Specified", inplace=True)

In [3847]:
df_train['Occupation'].value_counts()

Not Specified    7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: Occupation, dtype: int64

In [3848]:
df_train['Annual_Income'].describe()

count       100000
unique       18940
top       36585.12
freq            16
Name: Annual_Income, dtype: object

In [3849]:
# Remove leading and trailing underscores from "Annual_Income" column
df_train['Annual_Income'] = df_train['Annual_Income'].str.replace('_', '')
df_test['Annual_Income'] = df_test['Annual_Income'].str.replace('_', '')

# Convert "Annual_Income" column to numeric
df_train['Annual_Income'] = pd.to_numeric(df_train['Annual_Income'], errors='coerce')
df_test['Annual_Income'] = pd.to_numeric(df_test['Annual_Income'], errors='coerce')

In [3850]:
df_train.tail()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
99995,4,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,5,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,6,25,Mechanic,39628.99,3359.415833,4,6,5729,2,"Auto Loan, and Student Loan",...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,7,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,8,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [3851]:
df_train['Num_of_Loan'].describe()

count     100000
unique       434
top            3
freq       14386
Name: Num_of_Loan, dtype: object

In [3852]:
df_train['Num_of_Loan'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100000 entries, 0 to 99999
Series name: Num_of_Loan
Non-Null Count   Dtype
--------------   -----
100000 non-null  object
dtypes: object(1)
memory usage: 781.4+ KB

In [3853]:
# Convert "Num_of_Loan" column to numeric and then to integers, replacing NaN with 0
df_train['Num_of_Loan'] = pd.to_numeric(df_train['Num_of_Loan'], errors='coerce').astype('Int64').fillna(0)
df_test['Num_of_Loan'] = pd.to_numeric(df_test['Num_of_Loan'], errors='coerce').astype('Int64').fillna(0)

In [3854]:
print(df_train['Num_of_Loan'].isna().sum())
print(df_test['Num_of_Loan'].isna().sum())

0
0

In [3855]:
print(df_train['Num_of_Delayed_Payment'].isna().sum())
print(df_test['Num_of_Delayed_Payment'].isna().sum())

7002
3498

In [3856]:
# Remove non-numeric characters from "Num_of_Delayed_Payment" column
df_train['Num_of_Delayed_Payment'] = df_train['Num_of_Delayed_Payment'].str.replace(r'\D', '', regex=True)
df_test['Num_of_Delayed_Payment'] = df_test['Num_of_Delayed_Payment'].str.replace(r'\D', '', regex=True)

# Fill NaN values with 0 and convert the column to integers
df_train['Num_of_Delayed_Payment'] = pd.to_numeric(df_train['Num_of_Delayed_Payment'], errors='coerce').fillna(0).astype(int)
df_test['Num_of_Delayed_Payment'] = pd.to_numeric(df_test['Num_of_Delayed_Payment'], errors='coerce').fillna(0).astype(int)

In [3857]:
# Remove non-numeric characters from "Changed_Credit_Limit" column
df_train['Changed_Credit_Limit'] = df_train['Changed_Credit_Limit'].str.replace(r'\D', '', regex=True)
df_test['Changed_Credit_Limit'] = df_test['Changed_Credit_Limit'].str.replace(r'\D', '', regex=True)

# Replace empty strings with 0 before converting to float

df_train['Changed_Credit_Limit'] = pd.to_numeric(df_train['Changed_Credit_Limit'], errors='coerce').fillna(0).astype(float)
df_test['Changed_Credit_Limit'] = pd.to_numeric(df_test['Changed_Credit_Limit'], errors='coerce').fillna(0).astype(float)

In [3858]:
# Fill missing values with 0 for 'Monthly_Inhand_Salary' column
df_train['Monthly_Inhand_Salary'] = df_train['Monthly_Inhand_Salary'].fillna(0)
df_test['Monthly_Inhand_Salary'] = df_test['Monthly_Inhand_Salary'].fillna(0)

In [3859]:
# Fill missing values with 0 for 'Num_Credit_Inquiries' column
df_train['Num_Credit_Inquiries'] = df_train['Num_Credit_Inquiries'].fillna(0)
df_test['Num_Credit_Inquiries'] = df_test['Num_Credit_Inquiries'].fillna(0)

In [3860]:
df_train['Credit_Mix'].value_counts()

Standard    36479
Good        24337
_           20195
Bad         18989
Name: Credit_Mix, dtype: int64

In [3861]:
# Replace '_' with 'Not Specified' in 'Credit_Mix' column
df_train['Credit_Mix'] = df_train['Credit_Mix'].replace('_', 'Not Specified')

In [3862]:
df_train['Outstanding_Debt'].head(20)

0      809.98
1      809.98
2      809.98
3      809.98
4      809.98
5      809.98
6      809.98
7      809.98
8      605.03
9      605.03
10     605.03
11     605.03
12     605.03
13     605.03
14     605.03
15     605.03
16    1303.01
17    1303.01
18    1303.01
19    1303.01
Name: Outstanding_Debt, dtype: object

In [3863]:
# Remove non-numeric characters except decimal point from "Outstanding_Debt" column
df_train['Outstanding_Debt'] = df_train['Outstanding_Debt'].str.replace(r'[^0-9.]', '', regex=True)
df_test['Outstanding_Debt'] = df_test['Outstanding_Debt'].str.replace(r'[^0-9.]', '', regex=True)

# Replace empty strings with 0 before converting to float
df_train['Outstanding_Debt'] = pd.to_numeric(df_train['Outstanding_Debt'], errors='coerce').fillna(0)
df_test['Outstanding_Debt'] = pd.to_numeric(df_test['Outstanding_Debt'], errors='coerce').fillna(0)

In [3864]:
df_train['Outstanding_Debt'].head(20)

0      809.98
1      809.98
2      809.98
3      809.98
4      809.98
5      809.98
6      809.98
7      809.98
8      605.03
9      605.03
10     605.03
11     605.03
12     605.03
13     605.03
14     605.03
15     605.03
16    1303.01
17    1303.01
18    1303.01
19    1303.01
Name: Outstanding_Debt, dtype: float64

In [3865]:
df_train['Credit_History_Age'].value_counts()

15 Years and 11 Months    446
19 Years and 4 Months     445
19 Years and 5 Months     444
17 Years and 11 Months    443
19 Years and 3 Months     441
                         ...
0 Years and 3 Months       20
0 Years and 2 Months       15
33 Years and 7 Months      14
33 Years and 8 Months      12
0 Years and 1 Months        2
Name: Credit_History_Age, Length: 404, dtype: int64

In [3866]:
df_train['Credit_History_Age'].describe()

count                      90970
unique                       404
top       15 Years and 11 Months
freq                         446
Name: Credit_History_Age, dtype: object

In [3867]:
df_train['Credit_History_Age'].head()

0    22 Years and 1 Months
1                      NaN
2    22 Years and 3 Months
3    22 Years and 4 Months
4    22 Years and 5 Months
Name: Credit_History_Age, dtype: object

In [3868]:
# Extract years and months
df_train['Years'] = df_train['Credit_History_Age'].str.extract(r'(\d+) Years').astype(float)
df_train['Months'] = df_train['Credit_History_Age'].str.extract(r'(\d+) Months').astype(float)

df_test['Years'] = df_test['Credit_History_Age'].str.extract(r'(\d+) Years').astype(float)
df_test['Months'] = df_test['Credit_History_Age'].str.extract(r'(\d+) Months').astype(float)


# Convert years to months and add to months
df_train['Credit_History_Age_Months'] = df_train['Years'] * 12 + df_train['Months']
df_test['Credit_History_Age_Months'] = df_test['Years'] * 12 + df_test['Months']

# Drop intermediate columns
df_train = df_train.drop(['Years', 'Months', 'Credit_History_Age'], axis=1)
df_test = df_test.drop(['Years', 'Months', 'Credit_History_Age'], axis=1)


# Replace NaN values with 0 and convert to Int64
df_train['Credit_History_Age_Months'] = df_train['Credit_History_Age_Months'].fillna(0).astype('Int64')
df_test['Credit_History_Age_Months'] = df_test['Credit_History_Age_Months'].fillna(0).astype('Int64')

In [3869]:
df_train['Credit_History_Age_Months'].head()

0    265
1      0
2    267
3    268
4    269
Name: Credit_History_Age_Months, dtype: Int64

In [3870]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Month                      100000 non-null  int64
 1   Age                        100000 non-null  Int64
 2   Occupation                 100000 non-null  object
 3   Annual_Income              100000 non-null  float64
 4   Monthly_Inhand_Salary      100000 non-null  float64
 5   Num_Bank_Accounts          100000 non-null  int64
 6   Num_Credit_Card            100000 non-null  int64
 7   Interest_Rate              100000 non-null  int64
 8   Num_of_Loan                100000 non-null  Int64
 9   Type_of_Loan               100000 non-null  object
 10  Delay_from_due_date        100000 non-null  int64
 11  Num_of_Delayed_Payment     100000 non-null  int64
 12  Changed_Credit_Limit       100000 non-null  float64
 13  Num_Credit_Inquiries       100000 non-null  float64
 14  Credit_Mix                 100000 non-null  object
 15  Outstanding_Debt           100000 non-null  float64
 16  Credit_Utilization_Ratio   100000 non-null  float64
 17  Payment_of_Min_Amount      100000 non-null  object
 18  Total_EMI_per_month        100000 non-null  float64
 19  Amount_invested_monthly    95521 non-null   object
 20  Payment_Behaviour          100000 non-null  object
 21  Monthly_Balance            98800 non-null   object
 22  Credit_Score               100000 non-null  object
 23  Credit_History_Age_Months  100000 non-null  Int64
dtypes: Int64(3), float64(7), int64(6), object(8)
memory usage: 18.6+ MB

In [3871]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Month                      50000 non-null  int64
 1   Age                        50000 non-null  Int64
 2   Occupation                 50000 non-null  object
 3   Annual_Income              50000 non-null  float64
 4   Monthly_Inhand_Salary      50000 non-null  float64
 5   Num_Bank_Accounts          50000 non-null  int64
 6   Num_Credit_Card            50000 non-null  int64
 7   Interest_Rate              50000 non-null  int64
 8   Num_of_Loan                50000 non-null  Int64
 9   Type_of_Loan               50000 non-null  object
 10  Delay_from_due_date        50000 non-null  int64
 11  Num_of_Delayed_Payment     50000 non-null  int64
 12  Changed_Credit_Limit       50000 non-null  float64
 13  Num_Credit_Inquiries       50000 non-null  float64
 14  Credit_Mix                 50000 non-null  object
 15  Outstanding_Debt           50000 non-null  float64
 16  Credit_Utilization_Ratio   50000 non-null  float64
 17  Payment_of_Min_Amount      50000 non-null  object
 18  Total_EMI_per_month        50000 non-null  float64
 19  Amount_invested_monthly    47729 non-null  object
 20  Payment_Behaviour          50000 non-null  object
 21  Monthly_Balance            49438 non-null  object
 22  Credit_History_Age_Months  50000 non-null  Int64
dtypes: Int64(3), float64(7), int64(6), object(7)
memory usage: 8.9+ MB